# 02 - Load and Save

## Objectives:
- Importing data
- Exporting data

## Import Package

In [2]:
import pandas as pd

## Practice Section

1. Export the `DataFrame` that you have created in Chapter 1 to the `dataset/` folder in the form of `csv` file.
2. Import the `csv` file created in Practice 1 into this environment.

In [3]:
# 1. Export the `DataFrame` that you have created in Chapter 1 to the `dataset/` folder in the form of `csv` file.
# Refer to solution in `01_intro`

In [5]:
# 2. Import the `csv` file created in Practice 1 into this environment.
df = pd.read_csv("exports/dataframe_5.csv")
df

   int_series  float_series        kdrama_2021
0       100.0           0.1           Vincenzo
1       200.0           0.2         Squid Game
2       300.0           0.3  Hospital Playlist
3       400.0           0.4                NaN
4       500.0           0.5                NaN
5         NaN           0.6                NaN
6         NaN           0.7                NaN
7         NaN           0.8                NaN

**Copyright (C) 2021  Lee Kian Yang**

This program is licensed under MIT license.