# 03 - Data Manipulation

## Import Package

In [5]:
import pandas as pd

In [6]:
dataframe = pd.read_csv("https://raw.githubusercontent.com/KianYang-Lee/pandas-tutorial/main/datasets/Pokemon.csv")
dataframe.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## Practice Section

1. Subset the following columns and assign them to another variable.
- Sp. Atk
- Sp. Def
- Speed

2. Find all attributes in Question 1 of the following Pokemon and assign to a variable respectively.
eg. Diglet 35 10 70
- Mewtwo
- Ratata
- Pikachu

3. Assign the information listed in Question 1 of the Pokemon with the following index as `DataFrame` to another variable.
- 50
- 100
- 150

4. Modify the `Attack` and `Defense` of `Snorlax` to 300.
5. Create a subset of the original `DataFrame` containing only the First Generation Pokemon, and assign it to another variable.
6. Create a subset of the original `DataFrame` containing only the Second Generation Pokemon with `Sp. Atk` **and** `Sp. Def` of at least 100. Assign the `DataFrame` to another variable.
7. Create a subset of the original `DataFrame` containing only the Second Generation Pokemon with `Sp. Atk` **or** `Sp. Def` of at least 100. Assign the `DataFrame` to another variable.

In [8]:
# 1. Subset the following columns and assign them to another variable.
# - Sp. Atk
# - Sp. Def
# - Speed
pokemon_sp_atk = dataframe["Sp. Atk"]
pokemon_sp_def = dataframe["Sp. Def"]
pokemon_speed = dataframe.Speed

In [14]:
dataframe_index_is_name = dataframe.set_index("Name")

In [21]:
# 2. Find all attributes in Question 1 of the following Pokemon and assign to a variable respectively.
# eg. Diglet 35 10 70
# - Mewtwo
# - Ratata
# - Pikachu
attributes = ["Sp. Atk", "Sp. Def", "Speed"]
mewtwo_stats = dataframe_index_is_name.loc["Mewtwo", attributes]
ratata_stats = dataframe_index_is_name.loc["Ratata", attributes]
pikachu_stats = dataframe_index_is_name.loc["Pikachu", attributes]

In [24]:
# 3. Assign the information listed in Question 1 of the Pokemon with the following index as `DataFrame` to another variable.
# - 50
# - 100
# - 150
indices = [50,100,150]
attributes_indices= [8,9,10]
solution_3 = dataframe.iloc[indices, attributes_indices]

In [34]:
# 4. Modify the `Attack` and `Defense` of `Snorlax` to 300.
dataframe_index_is_name.loc["Snorlax", ["Attack", "Defense"]] = 300

In [37]:
# 5. Create a subset of the original `DataFrame` containing only the First Generation Pokemon,
# and assign it to another variable.
first_gen_pokemon = dataframe[dataframe.Generation == 1]

In [38]:
# 6. Create a subset of the original `DataFrame` containing only the Second Generation Pokemon 
# with `Sp. Atk` **and** `Sp. Def` of at least 100. 
# Assign the `DataFrame` to another variable.
second_gen_pokemon = dataframe[dataframe.Generation == 2]
second_gen_with_and_criteria_fulfilled = second_gen_pokemon[
    (second_gen_pokemon["Sp. Atk"] >= 100) & (second_gen_pokemon["Sp. Def"] >= 100)
]

In [40]:
# 7. Create a subset of the original `DataFrame` containing only the Second Generation Pokemon 
# with `Sp. Atk` **or** `Sp. Def` of at least 100. 
# Assign the `DataFrame` to another variable.
second_gen_with_or_criteria_fulfilled = second_gen_pokemon[
    (second_gen_pokemon["Sp. Atk"] >= 100) | (second_gen_pokemon["Sp. Def"] >= 100)
]

## Useful Resources
A great discussion on the difference between `map`, `applymap` and `apply` methods can be found on this [post](https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas) in Stackoverflow.

**Copyright (C) 2021  Lee Kian Yang**

This program is licensed under MIT license.